.about-us {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}

.about-us h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}

.about-us p {
  font-size: 20px;
  line-height: 1.6;
  color: #444444;
  margin-bottom: 30px;
}

.about-us button {
  display: inline-block;
  padding: 12px 40px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about-us button:hover {
  background-color: #0062cc;
}

.about-us .container {
  max-width: 800px;
  margin: 0 auto;
}
/* Our Focus */
.our-focus {
  background-color: #f9f9f9;
  padding: 100px 0;
}

.our-focus h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 60px;
}

.focus-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.focus-box {
  max-width: 400px;
  padding: 40px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.focus-box h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.focus-box p {
  font-size: 18px;
  line-height: 1.5;
  color: #666666;
}
/*Footer*/
footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

footer h4 {
  font-weight: bold;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: #6c757d;
  text-decoration: none;
}

footer ul li a:hover {
  color: #007bff;
}

footer p {
  margin-top: 10px;
  font-size: 14px;
  color: #6c757d;
}

