.hero {
  background: url(img/background.svg);
  background-size: cover;
  text-align: center;
  padding: 150px 0;
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 32px;
}

.hero p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 48px;
}

.hero-text {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.hero-text p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 48px;
  text-align: center;
}

.hero-text-left {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  flex: 1;
}

.hero-text-right {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: right;
  flex: 1;
}

.hero-text-right .last-month {
  font-size: 14px;
}

.stats-number {
  font-size: 24px;
  font-weight: 500;
}

/* tabs */
.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-wrap:hover {
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}
.tab {
  display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tab:checked + label {
  background-color: #fff;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}
.tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}
.tab + label {
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
.tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
}
/* boring stuff */
body {
  font-family: 'Helvetica', sans-serif;
  background-color: #ffffff;
  color: #777;
  padding: 30px 0;
  font-weight: 300;
}
.container {
  margin: 0 auto;
  display: block;
  max-width: 800px;
}
.container > *:not(.tab-wrap) {
  padding: 0 80px;
}
h1, h2 {
  margin: 0;
  color: #444;
  text-align: center;
  font-weight: 400;
}
h2 {
  font-size: 1em;
  margin-bottom: 30px;
}
h3 {
  font-weight: 400;
}
p {
  line-height: 1.6;
  margin-bottom: 20px;
}
/*Sponsors*/
.sponsors {
  margin-top: 40px;
  text-align: center;
}

.sponsors h2 {
  font-size: 1em;
  margin-bottom: 20px;
  color: #655d5d;
}

.sponsors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sponsor {
  margin: 10px;
}

.sponsor img {
  height: 50px;
}
/*Search Bar*/
.search-bar {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.search-bar form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 500px;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.search-bar button[type="submit"] {
  border: none;
  background-color: transparent;
  color: #555;
  font-size: 18px;
  padding: 10px;
}

.search-results {
  display: none;
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
}

.search-results h3 {
  margin: 0;
  font-size: 18px;
}

.search-results p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #999;
}
/*Features*/
.features {
  background-color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.features h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature i {
  font-size: 80px;
  margin-bottom: 20px;
  color: #db7120;
}

.feature h3 {
  font-size: 24px;
  color: #666666;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
/*Network Map*/
#network-map {
  background-color: #ffffff;
  padding: 80px 0;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.map-container img {
height: 400px;
}

.map-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.map-link::after {
  content: "\2192";
  display: inline-block;
  margin-left: 5px;
}

.map-link:hover {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.map-link:hover::after {
  color: #fff;
}
/*Sponsorship*/
.sponsorship {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

.sponsorship h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.sponsorship p {
  font-size: 18px;
  margin-bottom: 40px;
}

.sponsorship-button {
  background-color: #3e64af;
  color: #fff;
  border: none;
  padding: 12px 40px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
/*Footer*/
footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

footer h4 {
  font-weight: bold;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: #6c757d;
  text-decoration: none;
}

footer ul li a:hover {
  color: #007bff;
}

footer p {
  margin-top: 10px;
  font-size: 14px;
  color: #6c757d;
}


